openapi: 3.0.1
info:
  title: Chatvolt AI - Agents Tools API
  description: Endpoints for managing and interacting with Agents, Whitelist, and Blacklist.
  termsOfService: http://chatvolt.ai/terms
  contact:
    email: support@chatvolt.ai
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.chatvolt.ai
tags:
  - name: agents
paths:
  /api/agents/{agentId}/tools:
    get:
      summary: Get all tools for an agent
      operationId: getTools
      tags:
        - Tools
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of tools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tool'
        '401':
          description: Unauthorized
    post:
      summary: Create a new tool for an agent
      operationId: createTool
      tags:
        - Tools
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tool'
              examples:
                setConversationStatus:
                  summary: "Example of setting a conversation's status"
                  value:
                    type: "http"
                    isRaw: false
                    config:
                      name: "Set conversation Status (form)"
                      description: "Change the Status of a conversation between RESOLVED, UNRESOLVED or HUMAN_REQUESTED."
                      url: "https://api.chatvolt.ai/api/conversations/:conversation_id/set-status"
                      method: "POST"
                      withApproval: false
                      headers:
                        - key: "Authorization"
                          value: "Bearer <bearer-token>"
                          isUserProvided: false
                          description: ""
                          acceptedValues: []
                      body:
                        - key: "status"
                          value: ""
                          isUserProvided: true
                          description: "New conversation status"
                          acceptedValues:
                            - "RESOLVED"
                            - "UNRESOLVED"
                            - "HUMAN_REQUESTED"
                      queryParameters: []
                      pathVariables:
                        - key: "conversation_id"
                          value: ""
                          isUserProvided: true
                          description: "use {conversation-id}"
                          acceptedValues: []
                      hasMaximumToolCalls: true
                      maximumToolCalls: 1
                      isErrorCountable: true
      responses:
        '201':
          description: "Tool created successfully. The response body contains the complete tool object, including its generated `id` and the full configuration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
                examples:
                  httpToolResponse:
                    summary: "Example response for a created HTTP tool"
                    value:
                      id: "clwscf12b000108l6d5s7g8h9"
                      type: "http"
                      isRaw: false
                      config:
                        name: "Set conversation Status (form)"
                        description: "Change the Status of a conversation between RESOLVED, UNRESOLVED or HUMAN_REQUESTED."
                        url: "https://api.chatvolt.ai/api/conversations/:conversation_id/set-status"
                        method: "POST"
                        withApproval: false
                        headers:
                          - key: "Authorization"
                            value: "Bearer <bearer-token>"
                            isUserProvided: false
                            description: ""
                            acceptedValues: []
                        body:
                          - key: "status"
                            value: ""
                            isUserProvided: true
                            description: "New conversation status"
                            acceptedValues:
                              - "RESOLVED"
                              - "UNRESOLVED"
                              - "HUMAN_REQUESTED"
                        queryParameters: []
                        pathVariables:
                          - key: "conversation_id"
                            value: ""
                            isUserProvided: true
                            description: "use {conversation-id}"
                            acceptedValues: []
                        hasMaximumToolCalls: true
                        maximumToolCalls: 1
                        isErrorCountable: true
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
  /api/agents/{agentId}/tools/{toolId}:
    patch:
      summary: Update a tool
      operationId: updateTool
      tags:
        - Tools
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
        - name: toolId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tool'
      responses:
        '200':
          description: The updated tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
    delete:
      summary: Delete a tool
      operationId: deleteTool
      tags:
        - Tools
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
        - name: toolId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tool deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          description: Unauthorized

components:
  schemas:
    Tool:
      type: object
      required:
        - type
      properties:
        id:
          type: string
          format: cuid
          readOnly: true
        type:
          type: string
          enum:
            - http
            - datastore
            - mark_as_resolved
            - request_human
            - delayed_responses
            - follow_up_messages
        datastoreId:
          type: string
          format: cuid
          description: "Required when type is 'datastore'."
        formId:
          type: string
          format: cuid
          description: "Required when type is 'form'."
        isRaw:
          type: boolean
          description: "Only applicable when type is 'http'. If true, the tool is configured with a raw cURL command."
        config:
          oneOf:
            - $ref: '#/components/schemas/HttpToolConfig'
            - $ref: '#/components/schemas/DelayedResponsesToolConfig'
            - $ref: '#/components/schemas/FollowUpMessagesToolConfig'
          description: "Configuration object that varies based on the tool 'type'."

    HttpToolConfig:
      type: object
      properties:
        name:
          type: string
          description: "A unique and descriptive name for the tool, used to identify it during agent execution."
        description:
          type: string
          description: "A detailed description of what the tool does. This is used by the agent to decide when to use this tool."
        url:
          type: string
          format: url
          description: "The endpoint URL for the HTTP request. Can include path variables in the format `:variable_name`."
        method:
          type: string
          enum: [GET, POST, PUT, DELETE, PATCH]
          description: "The HTTP method for the request."
        withApproval:
          type: boolean
          description: "If true, the agent will require user approval before executing the request. Defaults to false."
        headers:
          type: array
          description: "Key-value pairs for the request headers."
          items:
            $ref: '#/components/schemas/ToolKeyValueField'
        body:
          type: array
          description: "Key-value pairs for the request body, typically used for `application/x-www-form-urlencoded` or `multipart/form-data`."
          items:
            $ref: '#/components/schemas/ToolKeyValueField'
        rawBody:
          type: string
          description: "A raw JSON string for the request body. Used for `application/json` content type. This is mutually exclusive with `body`."
        queryParameters:
          type: array
          description: "Key-value pairs for the URL query parameters."
          items:
            $ref: '#/components/schemas/ToolKeyValueField'
        pathVariables:
          type: array
          description: "Key-value pairs for variables in the URL path. E.g., if URL is `/users/:userId`, a path variable with key `userId` should be defined."
          items:
            $ref: '#/components/schemas/ToolKeyValueField'
        hasMaximumToolCalls:
          type: boolean
          description: "If true, limits the number of times the tool can be called in a conversation. Defaults to false."
        maximumToolCalls:
          type: integer
          description: "The maximum number of calls allowed. Defaults to 1 if hasMaximumToolCalls is true."
        isErrorCountable:
          type: boolean
          description: "If true, failed calls count towards the maximumToolCalls limit. Defaults to true if hasMaximumToolCalls is true."

    DelayedResponsesToolConfig:
      type: object
      properties:
        delay:
          type: number
          minimum: 6
          description: "The delay time in seconds before the response is sent."

    FollowUpMessagesToolConfig:
      type: object
      properties:
        max_sends:
          type: integer
          minimum: 1
          maximum: 10
          description: "The maximum number of follow-up messages to send."
        interval_hours:
          type: integer
          minimum: 1
          maximum: 96
          description: "The interval in hours between each follow-up message."
        messages:
          type: string
          maxLength: 1000
          description: "The content of the follow-up messages, separated by `||`."

    ToolKeyValueField:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        isAutoGenerated:
          type: boolean
        isUserProvided:
          type: boolean
        description:
          type: string
        acceptedValues:
          type: array
          items:
            type: string
        type:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
