openapi: 3.0.1
info:
  title: Chatvolt AI - Agents API
  description: Endpoints for managing and interacting with Agents, Whitelist, and Blacklist.
  termsOfService: http://chatvolt.ai/terms
  contact:
    email: support@chatvolt.ai
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.chatvolt.ai
tags:
  - name: agents
paths:
  /agents/{id}/query:
    post:
      tags:
        - agents
      summary: Allows sending a query to a specific agent and receiving a response.
      description: |-
        This endpoint processes a query (Ask something) through the specified agent.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID of the agent to be queried.
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Text of the question or command to be sent to the agent.
                streaming:
                  type: boolean
                  description: Set to `true` to receive a Server-Sent Events (SSE) stream, `false` for a single JSON response.
                  default: false
                conversationId:
                  type: string
                  description: ID of the existing conversation. If not provided or invalid, a new conversation will be created.
                contactId:
                  type: string
                  description: ID of an existing contact in the system. If provided, associates the conversation with this contact. Alternative to the `contact` object.
                contact:
                  type: object
                  description: Contact details. Used to find an existing contact (by email, phoneNumber, or userId) or create a new one if not found.
                  properties:
                    firstName:
                      type: string
                      description: Contact's first name.
                    lastName:
                      type: string
                      description: Contact's last name.
                    email:
                      type: string
                      description: Contact's email. Used for search/creation.
                    phoneNumber:
                      type: string
                      description: "Contact's phone number (ex: 5511988887777). Used for search/creation."
                    userId:
                      type: string
                      description: 'External ID of the contact (ex: user ID in your system). Used for search/creation.'
                visitorId:
                  type: string
                  description: ID of the visitor/participant who is sending the query. If not provided, a new ID will be generated.
                temperature:
                  type: number
                  description: Model temperature (min 0.0, max 1.0). Controls the randomness of the response.

                modelName:
                  type: string
                  description: Allows overriding the LLM model configured in the agent for this specific query. (e.g., gpt_4_o, gpt_o3, claude_sonnet, gemini_flash).
                  enum:
                    - gpt_5
                    - gpt_o3
                    - gpt_4_o
                    - gpt_4o_mini
                    - claude_opus
                    - claude_sonnet
                    - claude_haiku
                    - gemini_pro
                    - gemini_flash
                    - deepseek_r1
                    - deepseek_v3
                    - grok_3
                presencePenalty:
                  type: number
                  description: Presence penalty (between -2.0 and 2.0). Positive values encourage the model to talk about new topics.
                frequencyPenalty:
                  type: number
                  description: Frequency penalty (between -2.0 and 2.0). Positive values discourage the model from repeating textual lines.
                topP:
                  type: number
                  description: 'Nucleus sampling (alternative to temperature). Considers tokens with accumulated probability mass top_p. (Ex: 0.1 considers the top 10%). It is recommended to change `topP` or `temperature`, not both.'
                filters:
                  type: object
                  properties:
                    custom_ids:
                      type: array
                      description: Filters the search in datastores by custom IDs associated with the chunks.
                      items:
                        type: string
                    datasource_ids:
                      type: array
                      description: Filters the search to use only chunks from the datasources with the specified IDs. The IDs must correspond to datastores associated as tools to the agent.
                      items:
                        type: string
                systemPrompt:
                  type: string
                  description: Allows overriding the system prompt configured in the agent for this specific query.
                context:
                  type: object
                  description: Object to pass additional context data that can be used by tools or in the prompt.
                callbackURL:
                  type: string
                  description: Optional URL. If provided, the API will return 202 immediately and will deliver the response to the Agent via a POST request to this URL when it is ready.
              required:
                - query
      responses:
        '200':
          description: |-
            Success. The response varies based on the `streaming` parameter.
            - **If `streaming: false` (default):** Returns a complete JSON object with the response.
            - **If `streaming: true`:** Returns a `text/event-stream` SSE stream with events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                    description: The agent's textual response.
                  conversationId:
                    type: string
                    description: ID of the conversation (existing or new).
                  visitorId:
                    type: string
                    description: ID of the visitor/participant.
                  messageId:
                    type: string
                    description: ID of the agent's response message in the database.
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatasourceChunk'
                    description: Datasource chunks used to generate the response (if applicable).
                  metadata:
                    type: object
                    description: Additional metadata returned (may vary).
            text/event-stream:
              schema:
                type: string
                description: |-
                  A Server-Sent Events (SSE) stream. Possible events:
                  - `event: answer\ndata: <response_chunk>`: Chunks of the agent's response being streamed.
                  - `event: endpoint_response\ndata: <final_json>`: Final event containing the complete JSON response (similar to `application/json`, but as a JSON string). Includes `messageId`, `answer`, `sources`, `conversationId`, `visitorId`, `metadata`.
                  - `data: [DONE]`: Indicates the end of the stream.
        '400':
          description: Invalid request (e.g., invalid body, missing parameters).
        '403':
          description: Unauthorized (e.g., invalid API Key, private agent without access).
        '404':
          description: Agent not found.
  /agents:
    post:
      tags:
        - agents
      summary: create a new agent.
      description: Create a new agent with the provided settings.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "The name of the agent (e.g., 'SDR Bot'). If omitted, a fun name will be generated."
                description:
                  type: string
                  description: "A clear description of the agent's role and purpose."
                modelName:
                  type: string
                  description: "The LLM identifier to use. IMPORTANT: Use the exact snake_case values from the enum (e.g., 'gpt_4_o')."
                  enum:
                    - gpt_5
                    - gpt_o3
                    - gpt_4_o
                    - gpt_4o_mini
                    - claude_opus
                    - claude_sonnet
                    - claude_haiku
                    - gemini_pro
                    - gemini_flash
                    - deepseek_r1
                    - deepseek_v3
                    - grok_3
                temperature:
                  type: number
                  description: "Sampling temperature (0.0 to 1.0). Lower is more focused, higher is more creative."
                systemPrompt:
                  type: string
                  description: System prompt to guide the agent's behavior.
                visibility:
                  type: string
                  enum:
                    - public
                    - private
                  description: Agent visibility. `public` allows access without authentication (depending on other settings), `private` restricts access to the organization.
                  default: private
                handle:
                  type: string
                  description: A unique identifier (slug) for the agent. Used for friendly URLs.
                interfaceConfig:
                  type: object
                  description: Chat interface settings for this agent (colors, initial messages, etc.).
                  additionalProperties: true
                configUrlExternal:
                  type: object
                  description: External URL configurations.
                  properties:
                    url:
                      type: string
                    header:
                      type: string
                configUrlInfosSystemExternal:
                  type: object
                  description: External URL configurations of the system.
                  properties:
                    url_webhook_external:
                      type: string
                    headerKey:
                      type: string
                enableInactiveHours:
                  type: boolean
                  nullable: true
                  description: Enable or disable Inactive hours for the agent.
                inactiveHours:
                  type: object
                  nullable: true
                  description: |-
                    A JSON object specifying the agent's inactive hours per channel. The top-level keys represent the channel (e.g., `whatsapp`, `website`,`instagram`), and each key contains an object with the days of the week and their respective inactive time ranges.
                  example:
                    whatsapp:
                      monday:
                        - { from: '00:00', to: '08:00' }
                        - { from: '18:00', to: '23:59' }
                      saturday:
                        - { from: '12:00', to: '23:59' }
                    website:
                      saturday:
                        - { from: '00:00', to: '23:59' }
                      sunday:
                        - { from: '00:00', to: '23:59' }
                tools:
                  type: array
                  description: List of tools to be associated with the agent.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [datastore, form, lead_capture, api_tool]
                        description: Tool type.
                      config:
                        type: object
                        description: Specific tool settings.
                        additionalProperties: true
                      datastoreId:
                        type: string
                        description: Datastore ID (required if type is 'datastore').
                      formId:
                        type: string
                        description: Form ID (required if type is 'form').
                      serviceProviderId:
                        type: string
                        description: Optional ID of the service provider associated with this datasource.
              required:
                - name
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
  /agents/{id}:
    get:
      tags:
        - agents
      summary: Retrieves the details of a specific agent.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: Agent ID or its handle (unique identifier preceded by '@', e.g., '@my-agent').
          required: true
      responses:
        '200':
          description: Success - Returns the complete agent object. Sensitive data (such as HTTP tool configurations) may be omitted for unauthenticated requests or from outside the agent's organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '403':
          description: Unauthorized
    patch:
      tags:
        - agents
      summary: Partially updates an existing agent.
      description: Partially updates an existing agent based on the ID. Allows updating one or more fields of a specific agent. Only the fields provided in the request body will be updated.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID of the agent to be updated.
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the agent.
                description:
                  type: string
                  description: New description for the agent.
                modelName:
                  type: string
                  description: New LLM model to be used by the agent. (e.g., gpt_4_o, gpt_o3, claude_sonnet, gemini_flash).
                  enum:
                    - gpt_5
                    - gpt_o3
                    - gpt_4_o
                    - gpt_4o_mini
                    - claude_opus
                    - claude_sonnet
                    - claude_haiku
                    - gemini_pro
                    - gemini_flash
                    - deepseek_r1
                    - deepseek_v3
                    - grok_3
                temperature:
                  type: number
                  description: New model temperature (min 0.0, max 1.0).
                systemPrompt:
                  type: string
                  description: New system prompt for the agent.
                visibility:
                  type: string
                  enum:
                    - public
                    - private
                  description: New visibility for the agent.
                handle:
                  type: string
                  description: New unique identifier (slug) for the agent.
                interfaceConfig:
                  type: object
                  description: New chat interface settings for this agent. Replaces the existing object.
                  additionalProperties: true
                enableInactiveHours:
                  type: boolean
                  nullable: true
                  description: Enable or disable Inactive hours for the agent.
                inactiveHours:
                  type: object
                  nullable: true
                  description: |-
                    A JSON object specifying the agent's inactive hours per channel. The top-level keys represent the channel (e.g., `whatsapp`, `website`,`instagram`), and each key contains an object with the days of the week and their respective inactive time ranges.
                  example:
                    whatsapp:
                      monday:
                        - { from: '00:00', to: '08:00' }
                        - { from: '18:00', to: '23:59' }
                      saturday:
                        - { from: '12:00', to: '23:59' }
                      website:
                        - { from: '00:00', to: '23:59' }
                      sunday:
                        - { from: '00:00', to: '23:59' }
                configUrlExternal:
                  type: object
                  description: New external URL configurations. Replaces the existing object.
                  properties:
                    url:
                      type: string
                    header:
                      type: string
                configUrlInfosSystemExternal:
                  type: object
                  description: New external URL configurations of the system. Replaces the existing object.
                  properties:
                    url_webhook_external:
                      type: string
                    headerKey:
                      type: string
                tools:
                  type: array
                  description: |-
                    List of tools for the agent. This array defines the final state of the tools.
                    - Tools in the array **without** an `id` will be **created**.
                    - Tools in the array **with** an existing `id` will be **updated** (only `config` is updatable for `http`, `form`, `lead_capture` types).
                    - Existing tools in the agent that are **not** present in this array will be **removed**.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Tool ID (omit to create a new one, include to update an existing one).
                      type:
                        type: string
                        enum: [datastore, form, lead_capture, api_tool, http]
                        description: Tool type.
                      config:
                        type: object
                        description: Specific tool settings.
                        additionalProperties: true
                      datastoreId:
                        type: string
                        description: Datastore ID (required if type is 'datastore').
                      formId:
                        type: string
                        description: Form ID (required if type is 'form').
                      serviceProviderId:
                        type: string
                        description: Service provider ID.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
    delete:
      tags:
        - agents
      summary: Deletes a specific agent.
      description: Permanently deletes a specific agent by its ID. Permanently removes an agent and its associated data (including service providers and permissions).
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID of the agent to be deleted.
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '403':
          description: Unauthorized
  /agents/{id}/webhook:
    patch:
      tags:
        - agents
      summary: Toggle WebHook status for a service provider.
      description: |-
        This endpoint allows controlling the webhook status for different service providers associated with an agent.
        For the `instagram` type, enabling/disabling the webhook also controls the `answerDms` and `answerComments` settings
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID of the agent to which the service provider belongs.
        - in: query
          name: type
          required: true
          schema:
            type: string
            enum:
              - whatsapp
              - telegram
              - zapi
              - instagram
          description: Type of the service provider for which the webhook status will be changed.
        - in: query
          name: enabled
          required: true
          schema:
            type: boolean
          description: Defines the new webhook status. `true` to enable, `false` to disable.
      responses:
        '200':
          description: Webhook status updated successfully.
          content:
            application/json:
              schema:
                type: string
              example: 'whatsapp webhook enabled'
        '400':
          description: Required parameters (`id`, `type`, `enabled`) missing from the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'The parameters "id", "service-provider-type", and "enabled" are required.'
        '404':
          description: Agent not found with the provided `id`, or the service provider `type` was not found for this agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Agent not found or ServiceProvider not found for this agent.'
  /agent-whitelist-whatsapp:
    post:
      tags:
        - agents
      summary: Add a WhatsApp number or multiple numbers to the agent's whitelist.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                  description: The ID of the agent.
                whatsappNumber:
                  oneOf:
                    - type: string
                      description: A single WhatsApp number to whitelist.
                    - type: array
                      items:
                        type: string
                      description: An array of WhatsApp numbers to whitelist.
              required:
                - agentId
                - whatsappNumber
      responses:
        '200':
          description: Successfully added the WhatsApp number(s) to the whitelist.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    agentId:
                      type: string
                      description: The ID of the agent.
                    whatsappNumber:
                      type: string
                      description: The whitelisted WhatsApp number.
        '400':
          description: Invalid request body (missing agentId or whatsappNumber).
        '409':
          description: One or more WhatsApp numbers are already whitelisted for this agent.
        '403':
          description: Unauthorized.
  /agent-whitelist-whatsapp/{id}:
    get:
      tags:
        - agents
      summary: Retrieve the whitelist for a specific agent.
      description: |
        Obtain the whitelist entries (WhatsApp numbers) for the specified agent.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the agent.
      responses:
        '200':
          description: Successful operation. Returns an array of whitelist entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentWhitelistEntry'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
    delete:
      tags:
        - agents
      summary: Delete a whitelist entry for a specific agent.
      description: |
        Remove a WhatsApp number from the agent's whitelist.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                whatsappNumber:
                  type: string
                  description: The WhatsApp number to be removed from the whitelist.
              required:
                - whatsappNumber
      responses:
        '200':
          description: Whitelist entry deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Whitelist entry deleted successfully."
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Whitelist entry not found.
    patch:
      tags:
        - agents
      summary: Update a whitelist entry for a specific agent.
      description: |
        Update the WhatsApp number in the agent's whitelist by replacing the old number with a new one.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                oldWhatsappNumber:
                  type: string
                  description: The current WhatsApp number in the whitelist.
                newWhatsappNumber:
                  type: string
                  description: The new WhatsApp number to replace the old one.
              required:
                - oldWhatsappNumber
                - newWhatsappNumber
      responses:
        '200':
          description: Whitelist entry updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentWhitelistEntry'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Whitelist entry not found.
        '409':
          description: Conflict - the new WhatsApp number already exists in the whitelist.
  /agent-blacklist:
    get:
      tags:
        - agents
      summary: Get all blacklist entries for the organization
      responses:
        '200':
          description: Successful operation. Returns an array of all blacklist entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentBlacklistEntry'
        '403':
          description: Unauthorized.
    post:
      tags:
        - agents
      summary: Add one or more users to an agent's blacklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agentId
                - userIdentify
              properties:
                agentId:
                  type: string
                  description: The ID of the agent.
                userIdentify:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                  description: A single user identifier or an array of user identifiers to blacklist.
      responses:
        '200':
          description: Successfully created blacklist entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentBlacklistEntry'
        '400':
          description: Invalid request body.
        '403':
          description: Unauthorized.
  /agent-blacklist/{agentId}:
    get:
      tags:
        - agents
      summary: Retrieve the blacklist for a specific agent
      parameters:
        - in: path
          name: agentId
          required: true
          schema:
            type: string
          description: The ID of the agent.
      responses:
        '200':
          description: Successful operation. Returns an array of blacklist entries for the specified agent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentBlacklistEntry'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
    delete:
      tags:
        - agents
      summary: Delete a blacklist entry
      description: Deletes a specific blacklist entry using its unique ID from the query.
      parameters:
        - in: path
          name: agentId
          required: true
          schema:
            type: string
          description: The ID of the agent associated with the blacklist (required for path, but not used in delete logic).
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: The ID of the blacklist entry to delete.
      responses:
        '204':
          description: Blacklist entry deleted successfully.
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Blacklist entry not found.
components:
  schemas:
    DatasourceChunk:
      type: object
      properties:
        text:
          type: string
          description: Content of the chunk.
        score:
          type: number
          description: Similarity score of the chunk with the query.
        source:
          type: string
          description: URL or identifier of the original source of the chunk.
        datasource_id:
          type: string
          description: ID of the datasource to which the chunk belongs.
        datasource_name:
          type: string
          description: Name of the datasource to which the chunk belongs.
        custom_id:
          type: string
          nullable: true
          description: Custom ID associated with the chunk (if any).
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the chunk (if any).
    Agent:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        handle:
          type: string
          description: A unique identifier (slug) for the agent.
          nullable: true
        modelName:
          type: string
          description: LLM - Model name.
        temperature:
          type: number
          description: Temperature of the model (min 0.0, max 1.0)
        visibility:
          type: string
          enum:
            - public
            - private
        systemPrompt:
          type: string
          description: Agent system prompt
          nullable: true
        enableInactiveHours:
          type: boolean
          nullable: true
          description: Enable or disable Inactive hours for the agent.
        inactiveHours:
          type: object
          nullable: true
          description: |-
            A JSON object specifying the agent's inactive hours per channel. The top-level keys represent the channel (e.g., `whatsapp`, `website`,`instagram`), and each key contains an object with the days of the week and their respective inactive time ranges.
          example:
            whatsapp:
              monday:
                - { from: '00:00', to: '08:00' }
                - { from: '18:00', to: '23:59' }
              saturday:
                - { from: '12:00', to: '23:59' }
            website:
              saturday:
                - { from: '00:00', to: '23:59' }
              sunday:
                - { from: '00:00', to: '23:59' }
        interfaceConfig:
          type: object
          additionalProperties: true
          description: Chat interface settings for this agent.
        configUrlExternal:
          type: object
          description: External URL configurations.
          properties:
            url:
              type: string
            header:
              type: string
        configUrlInfosSystemExternal:
          type: object
          description: External URL configurations of the system.
          properties:
            url_webhook_external:
              type: string
            headerKey:
              type: string
        tools:
          type: array
          items:
            $ref: '#/components/schemas/Tool'
          description: List of tools associated with the agent.
        organizationId:
          type: string
          description: ID of the organization the agent belongs to.
        createdAt:
          type: string
          format: date-time
          description: Timestamp of when the agent was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp of the last update to the agent.
    Tool:
      type: object
      properties:
        id:
          type: string
          description: Tool ID.
        type:
          type: string
          enum: [datastore, form, lead_capture, api_tool, http]
          description: Tool type.
        config:
          type: object
          additionalProperties: true
          description: Specific tool settings.
        datastoreId:
          type: string
          nullable: true
          description: Datastore ID (if type is 'datastore').
        formId:
          type: string
          nullable: true
          description: Form ID (if type is 'form').
        serviceProviderId:
          type: string
          nullable: true
          description: Service provider ID.
    AgentWhitelistEntry:
      type: object
      properties:
        agentId:
          type: string
          description: The ID of the agent.
        whatsappNumber:
          type: string
          description: The whitelisted WhatsApp number.
      required:
        - agentId
        - whatsappNumber
    AgentBlacklistEntry:
      type: object
      properties:
        id:
          type: string
          description: The ID of the blacklist entry.
        agentId:
          type: string
          description: The ID of the agent.
        userIdentify:
          type: string
          description: The identifier for the blacklisted user (e.g., email, phone number, IP address).
        organizationId:
          type: string
          description: The ID of the organization.
        agent:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            iconUrl:
              type: string
              nullable: true
      required:
        - id
        - agentId
        - userIdentify
        - organizationId
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []