openapi: 3.0.1
info:
  title: Chatvolt AI - CRM API
  description: Endpoints for managing Conversation Logs, Scenarios, and Steps of the CRM (Flux CRM).
  termsOfService: http://chatvolt.ai/terms
  contact:
    email: support@chatvolt.ai
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.chatvolt.ai
tags:
  - name: CRM Conversation Logs
  - name: CRM Scenarios
  - name: CRM Steps
paths:
  /crm/conversationLog:
    get:
      tags:
        - CRM Conversation Logs
      summary: List CRM Conversation Logs
      description: Retrieves a list of CRM conversation logs, with optional filtering and pagination.
      parameters:
        - in: query
          name: conversationId
          schema:
            type: string
          required: false
          description: Filter logs by a specific Conversation ID.
        - in: query
          name: scenarioId
          schema:
            type: string
          required: false
          description: Filter logs by a specific CRM Scenario ID.
        - in: query
          name: stepId
          schema:
            type: string
          required: false
          description: Filter logs by a specific CRM Step ID.
        - in: query
          name: status
          schema:
            type: string
            enum: [inactive, active, error]
          required: false
          description: Filter logs by status.
        - in: query
          name: page
          schema:
            type: integer
            default: 1
            minimum: 1
          required: false
          description: Page number for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          required: false
          description: Number of logs per page.
      responses:
        '200':
          description: A paginated list of CRM conversation logs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCrmConversationLogs'
        '400':
          description: Invalid query parameters.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
      security:
        - bearerAuth: []
    post:
      tags:
        - CRM Conversation Logs
      summary: Create CRM Conversation Log
      description: Creates a new CRM conversation log.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversationId
                - scenarioId
                - stepId
                - status
              properties:
                conversationId:
                  type: string
                  format: cuid
                  description: ID of the associated conversation.
                scenarioId:
                  type: string
                  format: cuid
                  description: ID of the associated CRM scenario.
                stepId:
                  type: string
                  format: cuid
                  description: ID of the associated CRM step.
                status:
                  type: string
                  enum: [inactive, active, error]
                  description: Status of the log.
      responses:
        '201':
          description: CRM conversation log created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., user does not have a paid plan).
      security:
        - bearerAuth: []
  /crm/conversationLog/{logId}:
    get:
      tags:
        - CRM Conversation Logs
      summary: Get CRM Conversation Log by ID
      description: Retrieves a specific CRM conversation log by its unique identifier.
      parameters:
        - name: logId
          in: path
          required: true
          description: The ID of the CRM conversation log to retrieve.
          schema:
            type: string
            format: cuid
      responses:
        '200':
          description: Successfully retrieved the CRM conversation log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: CRM conversation log not found.
      security:
        - bearerAuth: []
    put:
      tags:
        - CRM Conversation Logs
      summary: Update CRM Conversation Log
      description: >
        Updates the status of a specific CRM conversation log.
        NOTE: Currently, PUT and PATCH are functionally identical as only 'status' is updatable.
        Consider expanding 'UpdateCrmConversationLogPayload' for PATCH if more fields become updatable.
      parameters:
        - name: logId
          in: path
          required: true
          description: The ID of the CRM conversation log to update.
          schema:
            type: string
            format: cuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCrmConversationLogPayload'
      responses:
        '200':
          description: Successfully updated the CRM conversation log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '400':
          description: Invalid request body or logId.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., user does not have a paid plan or trying to update a log from another organization).
        '404':
          description: CRM conversation log not found.
      security:
        - bearerAuth: []
    patch:
      tags:
        - CRM Conversation Logs
      summary: Partially Update CRM Conversation Log
      description: >
        Partially updates the status of a specific CRM conversation log.
        NOTE: Currently, PUT and PATCH are functionally identical as only 'status' is updatable.
        Consider expanding 'UpdateCrmConversationLogPayload' for PATCH if more fields become updatable.
      parameters:
        - name: logId
          in: path
          required: true
          description: The ID of the CRM conversation log to update.
          schema:
            type: string
            format: cuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCrmConversationLogPayload'
      responses:
        '200':
          description: Successfully updated the CRM conversation log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '400':
          description: Invalid request body or logId.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: CRM conversation log not found.
      security:
        - bearerAuth: []
    delete:
      tags:
        - CRM Conversation Logs
      summary: Delete CRM Conversation Log by ID
      description: Deletes a specific CRM conversation log by its unique identifier.
      parameters:
        - name: logId
          in: path
          required: true
          description: The ID of the CRM conversation log to delete.
          schema:
            type: string
            format: cuid
      responses:
        '200':
          description: CRM conversation log deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Log deleted successfully
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: CRM conversation log not found.
      security:
        - bearerAuth: []
  /crm/scenario:
    get:
      tags:
        - CRM Scenarios
      summary: List CRM Scenarios
      description: Retrieves a list of CRM scenarios, optionally filtered by agentId.
      parameters:
        - name: agentId
          in: query
          required: false
          description: Filter scenarios by a specific Agent ID.
          schema:
            type: string
      responses:
        '200':
          description: A list of CRM scenarios.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CrmScenario'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
      security:
        - bearerAuth: []
    post:
      tags:
        - CRM Scenarios
      summary: Create CRM Scenario
      description: Creates a new CRM scenario.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name for the new CRM scenario.
                description:
                  type: string
                  nullable: true
                  description: An optional description for the CRM scenario.
      responses:
        '201':
          description: CRM scenario created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmScenario'
        '400':
          description: Invalid request body (e.g., name is missing).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., scenario limit reached for the current plan).
      security:
        - bearerAuth: []
    put:
      tags:
        - CRM Scenarios
      summary: Update CRM Scenario
      description: >
        Updates an existing CRM scenario. The scenario ID must be provided in the request body.
        NOTE: This deviates from standard RESTful conventions where the ID is typically a path parameter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - name
              properties:
                id:
                  type: string
                  format: cuid
                  description: The ID of the CRM scenario to update.
                name:
                  type: string
                  description: The new name for the CRM scenario.
                description:
                  type: string
                  nullable: true
                  description: An optional new description for the CRM scenario.
      responses:
        '200':
          description: CRM scenario updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Scenario updated
                  scenario:
                    $ref: '#/components/schemas/CrmScenario'
        '400':
          description: Invalid request body (e.g., id or name is missing).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., trying to update a scenario from another organization).
        '404':
          description: CRM scenario not found.
      security:
        - bearerAuth: []
    delete:
      tags:
        - CRM Scenarios
      summary: Delete CRM Scenario
      description: >
        Deletes an existing CRM scenario. The scenario ID must be provided in the request body.
        NOTE: This deviates from standard RESTful conventions where the ID is typically a path parameter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  format: cuid
                  description: The ID of the CRM scenario to delete.
      responses:
        '200':
          description: CRM scenario deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Scenario deleted
                  scenario:
                    $ref: '#/components/schemas/CrmScenario'
                  user:
                    type: string
                    format: cuid
        '400':
          description: Invalid request body (e.g., id is missing).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., trying to delete a scenario from another organization).
        '404':
          description: CRM scenario not found.
      security:
        - bearerAuth: []
  /crm/scenario/{scenarioId}/conversation:
    get:
      tags:
        - CRM Scenarios
      summary: List Conversations for a CRM Scenario
      description: |
        Retrieves a list of conversations associated with a specific CRM scenario.
        Can also be used to get conversation counts by using the `isCount` parameter.
      parameters:
        - name: scenarioId
          in: path
          required: true
          description: The ID of the CRM scenario.
          schema:
            type: string
            format: cuid
        - name: stepId
          in: query
          required: false
          description: The ID of a specific step to filter conversations.
          schema:
            type: string
            format: cuid
        - name: page
          in: query
          required: false
          description: The page number for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          description: The number of items per page for pagination.
          schema:
            type: integer
        - name: isCount
          in: query
          required: false
          description: If true, returns conversation counts instead of the conversation list.
          schema:
            type: boolean
            default: false
        - name: showInactiveConversations
          in: query
          required: false
          description: If true, includes conversations that are not marked as available.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: A list of CRM scenario conversations or a count object.
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/CrmScenarioConversation'
                  - type: object
                    properties:
                      count:
                        type: integer
                        description: Total count of conversations for the specified stepId.
                  - type: object
                    additionalProperties:
                      type: integer
                    description: An object mapping each step_id to its conversation count.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Scenario not found.
      security:
        - bearerAuth: []
    delete:
      tags:
        - CRM Scenarios
      summary: Remove Conversation from CRM Scenario
      description: Removes an existing conversation from a specific CRM scenario.
      parameters:
        - name: scenarioId
          in: path
          required: true
          description: The ID of the CRM scenario.
          schema:
            type: string
            format: cuid
        - name: conversationId
          in: query
          required: true
          description: ID of the conversation to remove from the scenario.
          schema:
            type: string
            format: cuid
      responses:
        '200':
          description: Conversation successfully removed from the scenario.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Conversation successfully removed from scenario
        '400':
          description: Invalid request (e.g., missing conversationId).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found (e.g., scenario or association not found).
      security:
        - bearerAuth: []
  /crm/step:
    get:
      tags:
        - CRM Steps
      summary: List CRM Steps
      description: Retrieves a list of CRM steps for a given scenario, optionally filtered by agentId.
      parameters:
        - name: scenarioId
          in: query
          required: true
          description: The ID of the CRM scenario to fetch steps for.
          schema:
            type: string
            format: cuid
        - name: agentId
          in: query
          required: false
          description: Filter steps by a specific Agent ID.
          schema:
            type: string
            format: cuid
      responses:
        '200':
          description: A list of CRM steps.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CrmStep'
        '400':
          description: Invalid request (e.g., scenarioId is missing).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
      security:
        - bearerAuth: []
    post:
      tags:
        - CRM Steps
      summary: Create CRM Step
      description: Creates a new CRM step within a scenario.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scenarioId
                - name
              properties:
                name:
                  type: string
                  description: The name for the new CRM step.
                scenarioId:
                  type: string
                  format: cuid
                  description: The ID of the CRM scenario this step belongs to.
                agentId:
                  type: string
                  format: cuid
                  nullable: true
                  description: Optional Agent ID to associate with this step.
                trigger:
                  type: string
                  nullable: true
                  description: A trigger condition or keyword for this step.
                prompt:
                  type: string
                  nullable: true
                  description: The main prompt or instruction for this step.
                initialMessage:
                  type: string
                  nullable: true
                  description: An initial message to be sent when this step is activated.
                autoNextStepId:
                  type: string
                  format: cuid
                  nullable: true
                  description: ID of the step to automatically transition to.
                autoNextTime:
                  type: integer
                  nullable: true
                  description: Time in seconds to wait before auto-transitioning.
                defaultStatus:
                  type: string
                  nullable: true
                  enum: [RESOLVED, UNRESOLVED, HUMAN_REQUESTED, null]
                  description: Default status for conversations at this step.
                defaultPriority:
                  type: string
                  nullable: true
                  enum: [LOW, MEDIUM, HIGH, null]
                  description: Default priority for conversations at this step.
                assigneeLogicType:
                  type: string
                  enum:
                    [
                      none,
                      clear,
                      single_user,
                      random_selected,
                      fair_distribution_selected,
                    ]
                  nullable: true
                  description: Logic for assigning conversations at this step.
                selectedMembershipIdsForAssignee:
                  type: array
                  items:
                    type: string
                    format: cuid
                  nullable: true
                  description: List of membership IDs for assignee logic. Required for single_user, random_selected, and fair_distribution_selected.
                isRequired:
                  type: boolean
                  nullable: true
                  description: Indicates if this step is mandatory.
                autoNextTimeUnit:
                  type: string
                  nullable: true
                  enum: [m, h, d, null]
                  description: The time unit for auto-transition.
                defaultTags:
                  type: array
                  items:
                    type: string
                  nullable: true
                  description: Default tags to add to the conversation.
                defaultTagsToRemove:
                  type: array
                  items:
                    type: string
                  nullable: true
                  description: Default tags to remove from the conversation.
                requestContact:
                  type: object
                  nullable: true
                  description: Configuration for requesting contact information.
                  properties:
                    name:
                      type: boolean
                      description: Whether to request the contact's name.
                    email:
                      type: boolean
                      description: Whether to request the contact's email.
                    phone:
                      type: boolean
                      description: Whether to request the contact's phone number.
                isConversationRemovalStep:
                  type: boolean
                  nullable: true
                  description: If true, this step removes the conversation from the scenario.
                zapiAgentId:
                  type: string
                  format: cuid
                  nullable: true
                  description: Z-API Agent ID for sending messages.
                zapiPhoneNumber:
                  type: string
                  nullable: true
                  description: Z-API phone number for sending messages.
                zapiMessage:
                  type: string
                  nullable: true
                  description: Z-API message to send.
                whatsappTemplateAgentId:
                  type: string
                  format: cuid
                  nullable: true
                  description: Agent ID for WhatsApp template message.
                whatsappTemplateName:
                  type: string
                  nullable: true
                  description: Name of the WhatsApp template.
                whatsappTemplateLanguageCode:
                  type: string
                  nullable: true
                  description: Language code for the WhatsApp template.
                whatsappTemplateText:
                  type: string
                  nullable: true
                  description: Text content of the WhatsApp template.
                defaultAiControl:
                  type: boolean
                  nullable: true
                  description: Default AI control setting for the conversation.
                webhookUrl:
                  type: string
                  format: uri
                  nullable: true
                  description: URL for the webhook to be called.
                webhookHeader:
                  type: object
                  nullable: true
                  description: Headers for the webhook request.
              oneOf:
                - required: [trigger]
                - required: [prompt]
      responses:
        '201':
          description: CRM step created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmStep'
        '400':
          description: Invalid request body (e.g., scenarioId missing, or both prompt and trigger are missing).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., step limit reached for the scenario's plan).
      security:
        - bearerAuth: []
    put:
      tags:
        - CRM Steps
      summary: Update CRM Step
      description: >
        Updates an existing CRM step. The step ID must be provided in the request body, along with at least one other field to update.
        NOTE: This deviates from standard RESTful conventions where the ID is typically a path parameter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - name
              properties:
                id:
                  type: string
                  format: cuid
                  description: The ID of the CRM step to update.
                name:
                  type: string
                  nullable: true
                  description: New name for the step.
                trigger:
                  type: string
                  nullable: true
                  description: New trigger condition or keyword for the step.
                prompt:
                  type: string
                  nullable: true
                  description: New main prompt or instruction for the step.
                initialMessage:
                  type: string
                  nullable: true
                  description: New initial message for the step.
                autoNextStepId:
                  type: string
                  format: cuid
                  nullable: true
                  description: New ID of the step to automatically transition to. Use null to remove.
                autoNextTime:
                  type: integer
                  nullable: true
                  description: New time in seconds for auto-transition. Use null to remove.
                defaultStatus:
                  type: string
                  nullable: true
                  enum: [RESOLVED, UNRESOLVED, HUMAN_REQUESTED, null]
                  description: New default status for conversations at this step.
                defaultPriority:
                  type: string
                  nullable: true
                  enum: [LOW, MEDIUM, HIGH, null]
                  description: New default priority for conversations at this step.
                assigneeLogicType:
                  type: string
                  enum:
                    [
                      none,
                      clear,
                      single_user,
                      random_selected,
                      fair_distribution_selected,
                    ]
                  nullable: true
                  description: New logic for assigning conversations at this step.
                selectedMembershipIdsForAssignee:
                  type: array
                  items:
                    type: string
                    format: cuid
                  nullable: true
                  description: New list of membership IDs for assignee logic.
                isRequired:
                  type: boolean
                  nullable: true
                  description: New mandatory status for the step.
                agentId:
                  type: string
                  format: cuid
                  nullable: true
                  description: New Agent ID to associate with this step. Use null to remove.
                autoNextTimeUnit:
                  type: string
                  nullable: true
                  enum: [m, h, d, null]
                  description: New time unit for auto-transition.
                defaultTags:
                  type: array
                  items:
                    type: string
                  nullable: true
                  description: New default tags to add to the conversation.
                defaultTagsToRemove:
                  type: array
                  items:
                    type: string
                  nullable: true
                  description: New default tags to remove from the conversation.
                requestContact:
                  type: object
                  nullable: true
                  description: New configuration for requesting contact information.
                  properties:
                    name:
                      type: boolean
                      description: Whether to request the contact's name.
                    email:
                      type: boolean
                      description: Whether to request the contact's email.
                    phone:
                      type: boolean
                      description: Whether to request the contact's phone number.
                isConversationRemovalStep:
                  type: boolean
                  nullable: true
                  description: New value for conversation removal step flag.
                zapi:
                  type: object
                  nullable: true
                  description: Z-API integration settings.
                  properties:
                    agentId:
                      type: string
                      format: cuid
                      nullable: true
                      description: Z-API Agent ID for sending messages.
                    phoneNumber:
                      type: string
                      nullable: true
                      description: Z-API phone number for sending messages.
                    message:
                      type: string
                      nullable: true
                      description: Z-API message to send.
                whatsapp:
                  type: object
                  nullable: true
                  description: WhatsApp template integration settings.
                  properties:
                    templateAgentId:
                      type: string
                      format: cuid
                      nullable: true
                      description: Agent ID for WhatsApp template message.
                    templateName:
                      type: string
                      nullable: true
                      description: Name of the WhatsApp template.
                    templateLanguageCode:
                      type: string
                      nullable: true
                      description: Language code for the WhatsApp template.
                    templateText:
                      type: string
                      nullable: true
                      description: Text content of the WhatsApp template.
                defaultAiControl:
                  type: boolean
                  nullable: true
                  description: New default AI control setting for the conversation.
                webhookUrl:
                  type: string
                  format: uri
                  nullable: true
                  description: New URL for the webhook to be called.
                webhookHeader:
                  type: object
                  nullable: true
                  description: New headers for the webhook request.
      responses:
        '200':
          description: CRM step updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmStep'
        '400':
          description: Invalid request body (e.g., id missing, or no fields to update provided).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: CRM step not found or user does not have permission.
      security:
        - bearerAuth: []
    delete:
      tags:
        - CRM Steps
      summary: Delete CRM Step
      description: >
        Deletes an existing CRM step. The step ID must be provided in the request body.
        NOTE: This deviates from standard RESTful conventions where the ID is typically a path parameter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  format: cuid
                  description: The ID of the CRM step to delete.
      responses:
        '200':
          description: CRM step deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmStep'
        '400':
          description: Invalid request body (e.g., id is missing).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: CRM step not found or user does not have permission.
      security:
        - bearerAuth: []
  /crm/step/conversation:
    post:
      tags:
        - CRM Steps
      summary: Add Conversation to CRM Step
      description: |
        Adds an existing conversation to a specific CRM step within a scenario.
        The step can be identified by `stepId`, or by `scenarioId` and `stepIndex`.
        If only `scenarioId` is provided, the conversation is added to the first step of that scenario.
        This action also creates an initial `CrmConversationLog` with 'active' status.
        If the conversation is already part of other scenarios, those associations will be marked as unavailable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationId:
                  type: string
                  format: cuid
                  description: ID of the conversation to add to the step.
                scenarioId:
                  type: string
                  format: cuid
                  description: ID of the CRM scenario. Required if `stepId` is not provided or if `stepIndex` is used.
                stepId:
                  type: string
                  format: cuid
                  nullable: true
                  description: ID of the specific CRM step. If provided, `scenarioId` and `stepIndex` are ignored for step identification.
                stepIndex:
                  type: integer
                  nullable: true
                  description: Index of the step within the scenario (used with `scenarioId` if `stepId` is not provided).
              required:
                - conversationId
      responses:
        '200':
          description: The result of the operation to add the conversation to the step.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlterStepResult'
        '400':
          description: Invalid request (e.g., missing required IDs, invalid combination, or other processing error).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    description: A description of the error.
                  blockedBy24hRule:
                    type: boolean
                    nullable: true
                    description: Indicates if the action was blocked by the 24-hour rule.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., user does not have a paid plan).
        '404':
          description: Not found (e.g., conversation, scenario, or step not found).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    description: A description of the error.
                  blockedBy24hRule:
                    type: boolean
                    nullable: true
                    description: Indicates if the action was blocked by the 24-hour rule.
        '409':
          description: Conflict (e.g., conversation already exists in this scenario).
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    description: A description of the error.
                  blockedBy24hRule:
                    type: boolean
                    nullable: true
                    description: Indicates if the action was blocked by the 24-hour rule.
      security:
        - bearerAuth: []
  /crm/step/move:
    post:
      tags:
        - CRM Steps
      summary: Move Conversation to Another CRM Step
      description: |
        Moves a conversation to a specified destination step within a CRM scenario.
        The destination step can be identified by `destStepId` or by `scenarioId` and `destStepIndex`.
        Optionally, an initial message for the destination step can be sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationId:
                  type: string
                  format: cuid
                  description: ID of the conversation to move.
                scenarioId:
                  type: string
                  format: cuid
                  nullable: true
                  description: ID of the CRM scenario. Required if `destStepId` is not provided or to specify context for `destStepIndex`.
                destStepId:
                  type: string
                  format: cuid
                  nullable: true
                  description: ID of the destination CRM step. If provided, `scenarioId` (if also provided) must match the step's scenario.
                destStepIndex:
                  type: integer
                  nullable: true
                  description: Index of the destination step within the scenario (used with `scenarioId` if `destStepId` is not provided).
                shouldSendInitialMessage:
                  type: boolean
                  default: false
                  description: Whether to send the initial message of the destination step.
              required:
                - conversationId
      responses:
        '200':
          description: Conversation moved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Conversation moved to step X and initial message sent.'
                  newStepId:
                    type: string
                    format: cuid
                    description: The ID of the new step the conversation was moved to.
                  messageSent:
                    type: boolean
                    nullable: true
                    description: Indicates if the initial message of the new step was sent.
                  messageError:
                    type: string
                    nullable: true
                    description: Error message if sending the initial message failed.
                  sentMessageId:
                    type: string
                    format: cuid
                    nullable: true
                    description: The ID of the message that was sent (if any).
                  blockedBy24hRule:
                    type: boolean
                    nullable: true
                    description: Indicates if sending a message was blocked by the 24-hour rule (e.g., for WhatsApp).
        '400':
          description: Invalid request (e.g., missing required IDs, invalid combination, or could not determine destination step).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., user does not have a paid plan).
        '404':
          description: Not found (e.g., conversation, scenario, or destination step not found).
        '500':
          description: Internal server error during step movement processing.
      security:
        - bearerAuth: []
components:
  schemas:
    CrmConversationLog:
      type: object
      properties:
        id:
          type: string
          format: cuid
          description: The unique identifier for the CRM conversation log.
        conversationId:
          type: string
          format: cuid
        scenarioId:
          type: string
          format: cuid
        stepId:
          type: string
          format: cuid
        status:
          type: string
          enum: [inactive, active, error]
        organizationId:
          type: string
          format: cuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        conversation:
          type: object
          properties:
            id:
              type: string
            title:
              type: string
              nullable: true
        scenario:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
              nullable: true
        step:
          type: object
          properties:
            id:
              type: string
            index:
              type: integer
              nullable: true
    PaginatedCrmConversationLogs:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CrmConversationLog'
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
    UpdateCrmConversationLogPayload:
      type: object
      properties:
        status:
          type: string
          enum: [inactive, active, error]
          description: The new status for the CRM conversation log.
    CrmScenario:
      type: object
      properties:
        id:
          type: string
          format: cuid
          description: The unique identifier for the CRM scenario.
        name:
          type: string
          description: The name of the CRM scenario.
        description:
          type: string
          nullable: true
          description: A description for the CRM scenario.
        organizationId:
          type: string
          format: cuid
          description: The ID of the organization this scenario belongs to.
        createdAt:
          type: string
          format: date-time
          description: Timestamp of when the scenario was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp of when the scenario was last updated.
    CrmScenarioConversation:
      type: object
      properties:
        id:
          type: string
          format: cuid
          description: The unique identifier for the CRM scenario conversation link.
        scenarioId:
          type: string
          format: cuid
        conversationId:
          type: string
          format: cuid
        stepId:
          type: string
          format: cuid
        organizationId:
          type: string
          format: cuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        available:
          type: boolean
          description: Indicates if the conversation is currently available/active in this scenario step.
        conversation:
          $ref: '#/components/schemas/CrmScenarioConversationInnerConversation'
        step:
          $ref: '#/components/schemas/CrmStep'
    CrmStep:
      type: object
      properties:
        id:
          type: string
          format: cuid
          description: The unique identifier for the CRM step.
        name:
          type: string
          description: The name of the CRM step.
        index:
          type: integer
          description: The order/index of the step within its scenario.
        prompt:
          type: string
          nullable: true
          description: The main prompt or instruction for this step.
        trigger:
          type: string
          nullable: true
          description: A trigger condition or keyword for this step.
        initialMessage:
          type: string
          nullable: true
          description: An initial message to be sent when this step is activated.
        autoNextStepId:
          type: string
          format: cuid
          nullable: true
          description: ID of the step to automatically transition to after this one.
        autoNextTime:
          type: integer
          nullable: true
          description: Time in seconds to wait before automatically transitioning to autoNextStepId.
        autoNextTimeUnit:
          type: string
          nullable: true
          enum: [m, h, d, null]
          description: The time unit for auto-transition.
        defaultStatus:
          type: string
          nullable: true
          enum: [RESOLVED, UNRESOLVED, HUMAN_REQUESTED, null]
          description: Default status to set for conversations reaching this step.
        defaultPriority:
          type: string
          nullable: true
          enum: [LOW, MEDIUM, HIGH, null]
          description: Default priority to set for conversations reaching this step.
        defaultAiControl:
          type: boolean
          nullable: true
          description: Default AI control setting for the conversation.
        assigneeLogicType:
          type: string
          enum:
            [
              none,
              clear,
              single_user,
              random_selected,
              fair_distribution_selected,
            ]
          nullable: true
          description: Logic for assigning conversations at this step.
        selectedMembershipIdsForAssignee:
          type: array
          items:
            type: string
            format: cuid
          nullable: true
          description: List of membership IDs for assignee logic.
        isRequired:
          type: boolean
          nullable: true
          description: Indicates if this step is mandatory.
        isConversationRemovalStep:
          type: boolean
          nullable: true
          description: If true, this step removes the conversation from the scenario.
        defaultTags:
          type: array
          items:
            type: string
          nullable: true
          description: Default tags to add to the conversation.
        defaultTagsToRemove:
          type: array
          items:
            type: string
          nullable: true
          description: Default tags to remove from the conversation.
        requestContact:
          type: object
          nullable: true
          description: Configuration for requesting contact information.
          properties:
            name:
              type: boolean
              description: Whether to request the contact's name.
            email:
              type: boolean
              description: Whether to request the contact's email.
            phone:
              type: boolean
              description: Whether to request the contact's phone number.
        organizationId:
          type: string
          format: cuid
        agentId:
          type: string
          format: cuid
          nullable: true
        scenarioId:
          type: string
          format: cuid
        zapi:
          type: object
          nullable: true
          description: Z-API integration settings.
          properties:
            agentId:
              type: string
              format: cuid
              nullable: true
              description: Z-API Agent ID for sending messages.
            phoneNumber:
              type: string
              nullable: true
              description: Z-API phone number for sending messages.
            message:
              type: string
              nullable: true
              description: Z-API message to send.
        whatsapp:
          type: object
          nullable: true
          description: WhatsApp template integration settings.
          properties:
            templateAgentId:
              type: string
              format: cuid
              nullable: true
              description: Agent ID for WhatsApp template message.
            templateName:
              type: string
              nullable: true
              description: Name of the WhatsApp template.
            templateLanguageCode:
              type: string
              nullable: true
              description: Language code for the WhatsApp template.
            templateText:
              type: string
              nullable: true
              description: Text content of the WhatsApp template.
        webhookUrl:
          type: string
          format: uri
          nullable: true
          description: URL for the webhook to be called.
        webhookHeader:
          type: object
          nullable: true
          description: Headers for the webhook request.
        createdAt:
          type: string
          format: date-time
          description: Timestamp of when the step was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp of when the step was last updated.
        agent:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: cuid
            name:
              type: string
            iconUrl:
              type: string
              format: url
              nullable: true
        scenario:
          $ref: '#/components/schemas/CrmScenario'
    CrmScenarioConversationInnerConversation:
      type: object
      description: Describes the conversation object as returned within the CrmScenarioConversation context.
      properties:
        id:
          type: string
        channel:
          type: string
        status:
          type: string
        priority:
          type: string
        agent:
          type: object
          nullable: true
          properties:
            name:
              type: string
              nullable: true
            iconUrl:
              type: string
              nullable: true
        conversationContexts:
          type: array
          items:
            type: object
            properties:
              context:
                type: string
        participantsVisitors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
        participantsContacts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              firstName:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              email:
                type: string
                nullable: true
              phoneNumber:
                type: string
                nullable: true
        visitorIdField:
          type: string
          nullable: true
        aiUserIdentifier:
          type: string
          nullable: true
    AlterStepResult:
      type: object
      description: The result of an operation that alters a conversation's step in a CRM scenario.
      properties:
        success:
          type: boolean
        message:
          type: string
          nullable: true
        newStepId:
          type: string
          format: cuid
          nullable: true
        messageSent:
          type: boolean
          nullable: true
        sendMessageError:
          type: string
          nullable: true
        sentMessageId:
          type: string
          format: cuid
          nullable: true
        initialMessage:
          type: string
          nullable: true
        stepAgentId:
          type: string
          format: cuid
          nullable: true
        blockedBy24hRule:
          type: boolean
          nullable: true
        zapiAgentId:
          type: string
          format: cuid
          nullable: true
        zapiPhoneNumber:
          type: string
          nullable: true
        zapiMessage:
          type: string
          nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []