openapi: 3.0.1
info:
  title: Chatvolt AI - Datastores API
  description: Endpoints for managing Datastores (Knowledge Bases) and Datasources.
  termsOfService: http://chatvolt.ai/terms
  contact:
    email: support@chatvolt.ai
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.chatvolt.ai
tags:
  - name: datastores
  - name: datasources
paths:
  /datasources:
    post:
      tags:
        - datasources
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                fileName:
                  type: string
                  description: Optional name for the uploaded file. If not provided, the original file name will be used.
                type:
                  type: string
                  enum:
                    - file
                datastoreId:
                  type: string
                custom_id:
                  type: string
                  description: Optional custom ID, useful for multi-tenant configurations to filter data later.
              required:
                - type
                - datastoreId
                - file
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                datastoreId:
                  type: string
                datasourceText:
                  type: string
                  description: "The raw text content to be indexed. Required for 'file' and 'qa' types."
                type:
                  type: string
                  enum:
                    - file
                    - qa
                    - web_page
                    - web_site
                id:
                  type: string
                  description: Optional ID of the existing datasource for update (upsert).
                config:
                  type: object
                  properties:
                    tags:
                      type: array
                      items:
                        type: string
                    source_url:
                      type: string
                      format: url
                      description: "Mandatory valid URL if provided. If no specific URL exists, use a placeholder like 'https://placeholder.com'."
                    fileSize:
                      type: number
                    mime_type:
                      type: string
                    question:
                      type: string
                    answer:
                      type: string
                    sitemap:
                      type: string
                      format: url
                    custom_id:
                      type: string
                    serviceProviderId:
                      type: string
                    isUpdateText:
                      type: boolean
                      description: "CRITICAL: Set to true when providing 'datasourceText' to ensure content is processed/replaced."
              required:
                - type
                - datastoreId
            examples:
              fileDatasource:
                summary: File type datasource
                value:
                  name: 'acme-info'
                  datastoreId: 'your-datastore-id'
                  datasourceText: 'Content to index'
                  type: 'file'
                  config:
                    isUpdateText: true
                    source_url: 'https://example.com'
                    mime_type: 'text/plain'
              qaDatasource:
                summary: QA type datasource
                value:
                  name: 'faq-question'
                  datastoreId: 'your-datastore-id'
                  datasourceText: 'The answer'
                  type: 'qa'
                  config:
                    isUpdateText: true
                    question: 'What is ACME?'
                    answer: 'The answer'
                    source_url: 'https://example.com'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasource'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
  /datasources/{id}:
    get:
      tags:
        - datasources
      description: Retrieves a specific data source by its ID.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID of the data source to be retrieved.
          required: true
        - in: query
          name: idstore
          schema:
            type: string
            description: ID of the datastore to which the datasource belongs (used for validation).
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasource'
        '403':
          description: Unauthorized
    delete:
      tags:
        - datasources
      description: Deletes a specific data source by its ID.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID of the datasource to be deleted.
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasource'
        '403':
          description: Unauthorized
  /datastores:
    post:
      tags:
        - datastores
      summary: Creates a new datastore.
      description: Creates a new datastore with the provided configurations.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Datastore name. If not provided, a fun name will be generated automatically.
                description:
                  type: string
                  description: Datastore description.
                type:
                  type: string
                  enum:
                    - qdrant
                  description: Datastore type (e.g., 'qdrant').
                isPublic:
                  type: boolean
                  description: Defines whether the datastore is public (accessible without specific datastore authentication) or private.
                  default: false
                pluginName:
                  type: string
                  maxLength: 20
                  description: Short name for the OpenAI plugin associated with this datastore (optional, used if the datastore is exposed as a plugin). Maximum of 20 characters.
                pluginDescriptionForHumans:
                  type: string
                  maxLength: 90
                  description: Human-readable description for the OpenAI plugin (optional). Maximum of 90 characters.
              required:
                - type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datastore'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
  /datastores/{id}:
    get:
      tags:
        - datastores
      summary: Retrieves details of a specific datastore, including its filtered and paginated datasources.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID of the datastore to be retrieved.
          required: true
        - in: query
          name: search
          schema:
            type: string
          description: Term to search for datasources by name (case-insensitive). Optional.
        - in: query
          name: status
          schema:
            type: string
            enum:
              [unsynched, pending, running, synched, error, usage_limit_reached]
          description: Filters datasources by status. Optional.
        - in: query
          name: type
          schema:
            type: string
            enum: [file, web_page, web_site, qa]
          description: Filters datasources by type. Optional.
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Number of pages to skip for datasource pagination. Optional.
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
          description: Maximum number of datasources to return per page. Optional.
        - in: query
          name: groupId
          schema:
            type: string
          description: Filtra datasources por um ID de grupo específico. Opcional.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datastore'
        '403':
          description: Unauthorized
    patch:
      tags:
        - datastores
      summary: Partially updates an existing datastore based on its ID.
      description: Partially updates an existing datastore based on its ID.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID of the datastore to be updated.
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                type:
                  type: string
                  enum:
                    - qdrant
                isPublic:
                  type: boolean
                pluginName:
                  type: string
                  maxLength: 20
                pluginDescriptionForHumans:
                  type: string
                  maxLength: 90
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datastore'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
    delete:
      tags:
        - datastores
      summary: Permanently deletes a specific datastore by its ID.
      description: Permanently deletes a specific datastore by its ID.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID of the Datastore
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datastore'
        '403':
          description: Unauthorized
  /datastores/{id}/query:
    post:
      tags:
        - datastores
      summary: This endpoint gets the most similar document fragments for a given query.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID of the datastore
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Query to ask your Datastore.
                topK:
                  type: number
                  description: The maximum number of results to retrieve.
                filters:
                  type: object
                  properties:
                    custom_ids:
                      type: array
                      description: Filter by Custom IDs
                      items:
                        type: string
                    datasource_ids:
                      type: array
                      description: Filter by Datasource IDs
                      items:
                        type: string
              required:
                - query
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasourceChunk'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
components:
  schemas:
    Datastore:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        type:
          type: string
          enum:
            - qdrant
        isPublic:
          type: boolean
        pluginName:
          type: string
          maxLength: 20
          nullable: true
        pluginDescriptionForHumans:
          type: string
          maxLength: 90
          nullable: true
    Datasource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [file, web_page, web_site, qa]
        name:
          type: string
        status:
          type: string
          enum:
            [unsynched, pending, running, synched, error, usage_limit_reached]
        groupId:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        lastSynch:
          type: string
          format: date-time
          nullable: true
        config:
          type: object
    DatasourceChunk:
      type: object
      properties:
        text:
          type: string
          description: Content of the chunk.
        score:
          type: number
          description: Similarity score of the chunk with the query.
        source:
          type: string
          description: URL or identifier of the original source of the chunk.
        datasource_id:
          type: string
          description: ID of the datasource to which the chunk belongs.
        datasource_name:
          type: string
          description: Name of the datasource to which the chunk belongs.
        custom_id:
          type: string
          nullable: true
          description: Custom ID associated with the chunk (if any).
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the chunk (if any).
    DatasourceConfigWebPage:
      type: object
      properties:
        source_url:
          type: string
          format: url
    DatasourceConfigWebSite:
      type: object
      properties:
        source_url:
          type: string
          format: url
        sitemap:
          type: string
          format: url
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []