openapi: 3.0.1
info:
  title: Chatvolt AI - Dispatches API
  description: Endpoints for managing Dispatches, Dispatch Contacts, and Contact Lists.
  termsOfService: http://chatvolt.ai/terms
  contact:
    email: support@chatvolt.ai
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.chatvolt.ai
tags:
  - name: dispatches
  - name: contact_lists
  - name: dispatch_contacts
paths:
  /dispatches/contacts:
    get:
      tags:
        - dispatch_contacts
      summary: List Contacts in a List
      description: Retrieves a paginated list of contacts from a specific contact list.
      parameters:
        - in: query
          name: contactListId
          required: true
          schema:
            type: string
          description: The ID of the contact list to retrieve contacts from.
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
        - in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of contacts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/DispatchContact'
                  count:
                    type: integer
    post:
      tags:
        - dispatch_contacts
      summary: Create or Update a Contact
      description: Creates a new contact in a list, or updates an existing one if an ID is provided.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DispatchContactPayload'
                - type: array
                  items:
                    $ref: '#/components/schemas/BulkContactPayload'
      responses:
        '200':
          description: The created or updated contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchContact'
    delete:
      tags:
        - dispatch_contacts
      summary: Delete a Contact
      description: Deletes a contact from a contact list.
      parameters:
        - in: query
          name: contactId
          required: true
          schema:
            type: string
          description: The ID of the contact to delete.
      responses:
        '200':
          description: Contact deleted successfully.
  /dispatches/contacts/link:
    post:
      tags:
        - dispatch_contacts
      summary: Link Dispatch to Contact List
      description: Creates or updates an association between a dispatch and a contact list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkDispatchToListPayload'
      responses:
        '200':
          description: Link created or updated successfully.
  /dispatches/contacts/{contactId}:
    get:
      tags:
        - dispatch_contacts
      summary: Get a Contact by ID
      description: Retrieves a single dispatch contact by its ID.
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: string
          description: The ID of the contact to retrieve.
      responses:
        '200':
          description: The requested contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchContact'
        '404':
          description: Contact not found.
  /dispatches/contacts/lists:
    get:
      tags:
        - contact_lists
      summary: List Contact Lists
      description: Retrieves a list of contact lists with filtering and pagination.
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Number of records to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
          description: Maximum number of records to return.
        - in: query
          name: search
          schema:
            type: string
          description: Search term for contact list name.
      responses:
        '200':
          description: A paginated list of contact lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lists:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactList'
                  count:
                    type: integer
                    example: 42
    post:
      tags:
        - contact_lists
      summary: Create or Update a Contact List
      description: Creates a new contact list, or updates an existing one if an ID is provided in the body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactListPayload'
      responses:
        '200':
          description: The created or updated contact list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        '404':
          description: Contact list not found.
    put:
      tags:
        - contact_lists
      summary: 'Update a Contact List'
      description: 'Updates an existing contact list.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactListPayload'
      responses:
        '200':
          description: The updated contact list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        '404':
          description: Contact list not found.
    delete:
      tags:
        - contact_lists
      summary: Delete a Contact List
      description: Deletes a contact list and all associated data.
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: true
          description: The ID of the contact list to delete.
      responses:
        '200':
          description: Contact list deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Contact list deleted successfully.'
        '400':
          description: Contact list ID is required.
        '404':
          description: Contact list not found.
  /dispatches:
    get:
      tags:
        - dispatches
      summary: List Dispatches
      description: Retrieves a list of dispatches with filtering and pagination.
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Number of records to skip for pagination.
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
          description: Maximum number of records to return.
        - in: query
          name: search
          schema:
            type: string
          description: Search term for dispatch name.
        - in: query
          name: status
          schema:
            type: string
          description: Filter by dispatch status.
        - in: query
          name: agentId
          schema:
            type: string
          description: Filter by Agent ID.
        - in: query
          name: crmScenarioId
          schema:
            type: string
          description: Filter by CRM Scenario ID.
        - in: query
          name: crmStepId
          schema:
            type: string
          description: Filter by CRM Step ID.
        - in: query
          name: startDate
          schema:
            type: string
            format: date-time
          description: Filter dispatches scheduled on or after this date.
        - in: query
          name: endDate
          schema:
            type: string
            format: date-time
          description: Filter dispatches scheduled on or before this date.
        - in: query
          name: archived
          schema:
            type: boolean
            default: false
          description: Filter by archived status.
      responses:
        '200':
          description: A paginated list of dispatches.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dispatches:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dispatch'
                  count:
                    type: integer
                    example: 42
                  totalCount:
                    type: integer
                    example: 100
                  sentCount:
                    type: integer
                    example: 80
                  errorCount:
                    type: integer
                    example: 5
                  latestErrorMessage:
                    type: string
                    nullable: true
                    example: 'Error connecting to service provider'
    post:
      tags:
        - dispatches
      summary: Create or Update a Dispatch
      description: Creates a new dispatch, or updates an existing one if an ID is provided in the body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchPayload'
      responses:
        '200':
          description: The created or updated dispatch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispatch'
    delete:
      tags:
        - dispatches
      summary: Delete a Dispatch
      description: Deletes a dispatch by its ID.
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: The ID of the dispatch to delete.
      responses:
        '200':
          description: Dispatch deleted successfully.
        '400':
          description: Dispatch ID is required.
        '404':
          description: Dispatch not found or you do not have permission to delete it.
  /dispatches/{id}/populate-queue:
    post:
      tags:
        - dispatches
      summary: Populate Dispatch Queue
      description: Populates the dispatch queue for a given dispatch, taking into account inclusion and exclusion lists.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The ID of the dispatch to populate.
      responses:
        '200':
          description: Dispatch queue populated successfully.
        '400':
          description: Invalid dispatch ID.
        '404':
          description: Dispatch not found or you do not have permission.
components:
  schemas:
    ContactList:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ContactListPayload:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          description: Include the ID to update an existing contact list. Omit to create a new one.
        name:
          type: string
          description: The name of the contact list.
    DispatchContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phoneNumber:
          type: string
        contactListId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DispatchContactPayload:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        phoneNumber:
          type: string
        contactListId:
          type: string
          format: uuid
    LinkDispatchToListPayload:
      type: object
      properties:
        dispatchId:
          type: string
          format: uuid
        contactListId:
          type: string
          format: uuid
        isExcluded:
          type: boolean
          description: Set to true to exclude this list from the dispatch.
    Dispatch:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
        agentId:
          type: string
          format: uuid
        crmScenarioId:
          type: string
          format: uuid
        crmStepId:
          type: string
          format: uuid
        scheduledAt:
          type: string
          format: date-time
          nullable: true
        templateMessage:
          type: string
          nullable: true
        interval:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        totalCount:
          type: integer
        sentCount:
          type: integer
        errorCount:
          type: integer
        latestErrorMessage:
          type: string
          nullable: true
    DispatchPayload:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          description: Include the ID to update an existing dispatch. Omit to create a new one.
        name:
          type: string
          description: The name of the dispatch.
        status:
          type: string
          description: The status of the dispatch (e.g., 'draft', 'scheduled', 'sent').
        agentId:
          type: string
          format: uuid
          description: The ID of the agent responsible for the dispatch.
        crmScenarioId:
          type: string
          format: uuid
          nullable: true
          description: The ID of the CRM scenario associated with the dispatch.
        crmStepId:
          type: string
          format: uuid
          nullable: true
          description: The ID of the CRM step associated with the dispatch.
        scheduledAt:
          type: string
          format: date-time
          nullable: true
          description: The date and time the dispatch is scheduled to run.
        templateMessage:
          type: string
          nullable: true
          description: The message template for the dispatch.
        interval:
          type: integer
          nullable: true
          description: The interval in minutes between sending messages for the dispatch.
        defaultAssigneeId:
          type: string
          format: uuid
          nullable: true
          description: The ID of the default assignee for conversations created by this dispatch.
        defaultStatus:
          type: string
          nullable: true
          description: The default status for conversations created by this dispatch.
        contactListIds:
          type: array
          items:
            type: string
            format: uuid
          description: An array of contact list IDs to associate with the dispatch.
        exclusionContactListIds:
          type: array
          items:
            type: string
            format: uuid
          description: An array of contact list IDs to exclude from the dispatch.
    BulkContactPayload:
      type: object
      properties:
        name:
          type: string
        phoneNumber:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []